<%- include nav %>
<div class="row-fluid">
	<div class="span7 offset3 myContainer">
		<div class="row-fluid">
			<div class="span2 offset 2">
				<img src="<%= account.photo%>">
			</div>
			<div class="span8">
				<h2><%= account.displayName%></h2>
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span5 offset2">	
				<div>
					<h4>Rating:</h4>
					* * * *
				</div>
				<div>
					<h4><a target="_blank"href="http://facebook.com">facebook profile</a></h4>
				</div>
			</div>
			<div class="span5">
				<div>
					<h4>spots created: 3</h4>
				</div>
				<div>
					<h4>messages: 5</h4>
				</div>
				<div>
					<h4>balance: $20.00</h4>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<h2 class="helperTitle">Requests</h2>
			<hr>
		</div>
		<div class="row-fluid">
			<h2 class="helperTitle">Messages</h2>
			<hr>
		</div>
		<div class="paddingBottom"></div>
	</div>
</div>