<div class="BK">
	<div class="login"><a href="/auth/facebook">LOGIN</a></div>
	<div class="row">
		<div class="logo">pm2am</div>
	</div>
	<div class="row">
		<div class="helperText">The couchsurfing of parking spots</div>
	</div>

	<div class="buttonContainer">
		<a class="btn" href="/auth/facebook">connect with facebook</a>
	</div>
</div>
