<%- include nav %>
<div class="row-fluid">
	<h1 class="centr">Requests</h1>
	<div class="span8 offset2 myContainer">
		<form action="/create" method="post">
			<div class="row-fluid">
				<h2>Inbox(5)</h2>
			</div>
			<hr>
			<button class="btn">View Requests</button>
		</form>
	</div>
</div>