.myblue {
	background-color: #1e82cc;
}

.myorange {
	background-color: #a35200;
}

.mywhite {
	color: #FFFFFF;
}

.fullheight {
	height: 100em;
}

.login {
	float: right;
	padding: 10px 20px 0 0;
}

.login a {
	color: #fff;
}

body {
	margin: 0;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	background-color: #E8E8E8;
	color:#333;
}

.logo{
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 200px;
	font-size: 160px;
}

.leftcontainer {
	width: 50em;
	float: left;
}

.rightcontainer {
	width: 50em;
	float: left;
}

.BK {
	width: 100%;
	background-color: #1e82cc;
	height: 900px;
	color: #fff;
}


.helperText {
	font-size: 20px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

.buttonContainer {
	text-align: center;
}

.buttonLeft	{
	float: left;
}

.buttonRight {
	float: right;
}

.navbar {
	background-color: #1e82cc;
	height: 45px;
}

.navbar .brand {
	color:#fff;
	margin-left: 15px;
}

.navbar .nav>li>a {
	color: #fff;
}


.nav>li>a:focus, .navbar .nav>li>a:hover {
color: #eee;
}


.myContainer {
	background-color: #ffffff;
	padding: 10px 10px 0 10px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
	margin-bottom: 200px;
}

.account {
	float:right;
	padding: 10px 10px;
}

.account a {
	color: #fff;
}

.dropdown {
	float: right;
	padding: 10px 20px 0 10px;
}

.dropdown a {
	color: #fff;
}

.dropdown-menu {
	margin-right: 10px;
}

.centr {
	text-align: center;
	margin: 40px;
}

#disqus_thread {
	margin-top: 140px;
}


.paddingBottom {
	padding-bottom: 150px;
}

.helperTitle {
	padding-left: 20px;
	padding-top: 30px;
}